<!DOCTYPE html>
<html>

<head>
  <title>Makuja</title>
</head>

<body>
    <h1>Makuja</h1>
  <p>
    Makuja on ravintola-arvostelusovellus.
  </p> 
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/add_restaurant">Lisää ravintola</a>
  </p>
  {% else %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo käyttäjätunnus</a>

  {% endif %}
    <p>
    <a href="/restaurants">Selaa ravintoloita</a>
  </p>
</body>

</html>
